@page
@model BitcubeEval.Pages.AppUser.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-5">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ApplicationUser.ID" />
            <div class="form-group">
                <label asp-for="ApplicationUser.EmailAddress" class="control-label"></label>
                <input asp-for="ApplicationUser.EmailAddress" class="form-control" readonly />
                <span asp-validation-for="ApplicationUser.EmailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.FirstName" class="control-label"></label>
                <input asp-for="ApplicationUser.FirstName" class="form-control" />
                <span asp-validation-for="ApplicationUser.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.LastName" class="control-label"></label>
                <input asp-for="ApplicationUser.LastName" class="form-control" />
                <span asp-validation-for="ApplicationUser.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-page-handler="SaveEdit" type="submit" value="Save" class="btn btn-primary" />
                <input asp-page-handler="CancelEdit" type="submit" value="Cancel" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

