<ul class="navbar-nav">
    @if (!string.IsNullOrEmpty(@User.Identity.Name))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/AppUser/Profile" asp-page-handler="Link" asp-route-email="@User.Identity.Name">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/AppUser/Friends">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="/AppUser/Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-page="/AppUser/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-page="/AppUser/Login">Login</a>
        </li>
    }
</ul>